{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/carousel.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/welcome.css') }}" type="text/css">
{% endblock %}

{% block loader %}
    {% include 'components/loader.html' %}
{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}
    {% include 'components/carousel.html' %}
    {% include 'components/announcement.html' %}
    {% include 'components/welcome.html' %}
    {% include 'components/services.html' %}
    {% include 'components/pricing.html' %}
    {% include 'components/gallery.html' %}
    {% include 'components/production.html' %}
    {% include 'components/partners.html' %}
    {% include 'components/footer.html' %}
{% endblock %}
