{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/booking.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/navbar.css') }}" type="text/css">
{% endblock %}

{% block loader %}
    {% include 'components/loader.html' %}
{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}

    <div class="p-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        {% for i in front_pack['prices'].get_all_prices() %}
            {% if not i.solo_price %}
            <div class="w-full flex items-stretch">
                <div class="shadow p-4 rounded-lg bg-white">
                    <div class="flex justify-center relative rounded-lg overflow-hidden h-52">
                        <div class="transition-transform duration-500 transform ease-in-out hover:scale-110 w-full">
                            <img src="{{ url_for('static', filename='img/booking/card' + i.id|string + '.jpg') }}" alt="">
                        </div>

                        {% if i.discount %}
                            <span class="absolute top-0 left-0 inline-flex mt-3 ml-3 px-3 py-2 rounded-lg z-10 bg-red-500
                            text-sm font-medium text-white select-none">
                                {{ i.discount_amount }}% de rabais
                            </span>
                        {% endif %}
                    </div>

                    <div class="mt-4">
                        <h2 class="font-medium text-base md:text-lg text-gray-800 line-clamp-1">
                            {{ i.title }}
                        </h2>

                        <p class="mt-2 text-sm text-gray-800 line-clamp-1">
                            {{ i.description }}
                        </p>
                    </div>

                    <button class="accordion my-3">contenu et détails de la session</button>

                    <div class="panel">
                        <ul>
                            {% for j in front_pack['settings'].cut_string_on_delimiter(i.content, ', ') %}
                                <li>- {{ j }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div>
                        <p class="font-semibold text-primary whitespace-nowrap leading-tight rounded-xl
                        text-right m-3">
                            <span class="text-sm uppercase">
                                CAD$
                            </span>

                            <span class="text-lg">{{ i.price }}</span>
                            {% if i.subscribe %}/mois{% endif %}
                        </p>
                    </div>

                    <div class="grid grid-cols-1 mt-3 gap-4">
                        {% if i.subscribe %}
                            <div>
                            <a href="{{ url_for('home.contacts') }}" class="p-2 bg-red-700 hover:bg-red-800 text-white rounded">Nous contacter pour s'abonner</a>
                        </div>
                            {% else %}
                        <div>
                            <a href="https://appt.link/vip-hotbox-studio-booking/{{ i.name }}online" class="p-2 bg-red-700 hover:bg-red-800 text-white rounded">Réserver et payer en ligne</a>
                        </div>

                        <div>
                            <a href="https://appt.link/vip-hotbox-studio-booking/{{ i.name }}" class="p-2 bg-blue-700 hover:bg-blue-800 text-white rounded">Réserver et payer sur place</a>
                        </div>
                        {% endif %}

                        </div>
                    </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    </div>


    {% include 'components/footer.html' %}
    <script>
    const acc = document.getElementsByClassName("accordion");
let i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
      const panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
    </script>
{% endblock %}