{% extends 'base.html' %}

{% block loader %}
    {% include 'components/loader.html' %}
{% endblock %}

{% block content %}
    <div class="flex items-center justify-center h-screen bg-gray-200">
        <div class="container">
            <div class="bg-white rounded-lg shadow-lg p-5 md:p-20 mx-2">
                <div class="text-center">
                    <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900
                    sm:text-5xl sm:leading-none md:text-6xl">
                        {{ title }}
                    </h2>

                    <h3 class="text-xl md:text-3xl mt-10">Bientôt disponible!</h3>
                    <p class="text-md md:text-xl mt-10">{{ title }} sera bientôt disponible sur notre site.
                        En attendant, vous pouvez visiter nos pages ci-dessous.
                    </p>
                </div>

                <div class="flex flex-wrap mt-10 justify-center">
                    <div class="m-3">
                        <a href="{{ url_for('home.index') }}" title="Accueil"
                           class="md:w-32 bg-white tracking-wide text-gray-800 font-bold rounded border-2
                           border-blue-600 hover:border-blue-600 hover:bg-blue-600 hover:text-white shadow-md
                           py-2 px-6 inline-flex items-center">
                            <span class="mx-auto">Accueil</span>
                        </a>
                    </div>

                    <div class="m-3">
                        <a href="{{ url_for('home.studio') }}" title="Notre studio"
                           class="md:w-32 bg-white tracking-wide text-gray-800 font-bold rounded border-2
                           border-blue-500 hover:border-blue-500 hover:bg-blue-500 hover:text-white shadow-md
                           py-2 px-6 inline-flex items-center">
                            <span class="mx-auto">Notre studio</span>
                        </a>
                    </div>

                    <div class="m-3">
                        <a href="{{ url_for('domains.booking.main') }}" title="Réservation"
                           class="md:w-32 bg-white tracking-wide text-gray-800 font-bold rounded border-2
                           border-red-600 hover:border-red-600 hover:bg-red-600 hover:text-white shadow-md
                           py-2 px-6 inline-flex items-center">
                            <span class="mx-auto">Réservation</span>
                        </a>
                    </div>

                    <div class="m-3">
                        <a href="{{ url_for('home.contacts') }}" title="Nous contacter"
                           class="md:w-32 bg-white tracking-wide text-gray-800 font-bold rounded border-2
                           border-orange-500 hover:border-orange-500 hover:bg-orange-500 hover:text-white shadow-md
                           py-2 px-6 inline-flex items-center">
                            <span class="mx-auto">Contacts</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}