<div class="py-16 bg-white">
    <div  class="container m-auto px-6 space-y-8 text-gray-500 md:px-12 lg:px-20">
        <div class="justify-center text-center gap-6 md:text-left md:flex lg:items-center  lg:gap-16">
            <div class="order-last mb-6 space-y-6 md:mb-0 md:w-6/12 lg:w-6/12">
                <h1 class="text-4xl text-red-700 font-bold md:text-5xl">
                    Notre nouveau grand studio est ouvert maintenant
                    <br>
                    <span class="text-black text-3xl">
                        30% off sur ta première session!!
                    </span>
                </h1>

                <p class="text-lg">Notre nouveau studio est ouvert maintenant à Beauport, Quebec,
                    <a href="{{ front_pack['address']['link'] }}" target="_blank" class="underline text-red-700">
                        {{ front_pack['address']['name'] }}
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </p>

                <div class="flex flex-row-reverse flex-wrap justify-center gap-4 md:gap-6 md:justify-end">
                    <button type="button" title="book now" class="w-full py-3 px-6 text-center rounded-xl
                    transition bg-black shadow-xl hover:bg-gray-600 active:bg-gray-700 focus:bg-gray-600 sm:w-max">
                        <span class="block text-white font-semibold">
                            Réserve ta session
                        </span>
                    </button>

                    <button type="button" title="about price" class="w-full order-first py-3 px-6 text-center
                    rounded-xl bg-gray-100 transition hover:bg-gray-200 active:bg-gray-300 focus:bg-gray-200 sm:w-max">
                        <span class="block text-black font-semibold">
                            Nox prix
                        </span>
                    </button>
                </div>
            </div>
            <div class="md:w-5/12 lg:w-6/12">
                <div class="h-96">
                    <video autoplay muted loop id="myVideo" class="h-96 w-full">
                        <source src="{{ url_for('static', filename='videos/announ.mp4') }}">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>