<div class="py-16 bg-white">
    <div  class="container m-auto px-6 space-y-8 text-gray-500 md:px-12 lg:px-20">
        <div class="justify-center text-center gap-6 md:text-left md:flex lg:items-center  lg:gap-16">
            <div class="order-last mb-6 space-y-6 md:mb-0 md:w-6/12 lg:w-6/12">
                <h1 class="text-4xl text-red-700 font-bold md:text-5xl">
                    Un grand studio d'enregistrement!
                    <br>
                    <span class="text-black text-3xl">
                        Réserve ta première session maintenant!!
                    </span>
                </h1>

                <p class="text-lg">Notre studio est ouvert à Beauport, Quebec,
                    <a href="{{ front_pack['address']['link'] }}" target="_blank" class="underline text-red-700">
                        {{ front_pack['address']['name'] }}
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </p>

                <div class="flex flex-row-reverse flex-wrap justify-center gap-4 md:gap-6 md:justify-end">
                    <button type="button" title="book now" class="w-full py-3 px-6 text-center rounded-xl
                    transition bg-black shadow-xl hover:bg-gray-600 active:bg-gray-700 focus:bg-gray-600 sm:w-max">
                        <a class="block text-white font-semibold" href="{{ url_for('domains.booking.main') }}">
                            Réserve ta session
                        </a>
                    </button>

                    <button type="button" title="about price" class="w-full order-first py-3 px-6 text-center
                    rounded-xl bg-gray-100 transition hover:bg-gray-200 active:bg-gray-300 focus:bg-gray-200 sm:w-max">
                        <a class="block text-black font-semibold" href="{{ url_for('home.index') }}#pricing">
                            Nox prix
                        </a>
                    </button>
                </div>
            </div>
            <div class="md:w-5/12 lg:w-6/12">
                <div class="h-96">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2F100076054936196%2Fvideos%2F731286017852144%2F&show_text=false&width=560&t=0"
                            width="100%" height="100%" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture;
                            web-share" allowFullScreen="true" data-autoplay="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>