<section class="bg-black">
    <div class="container px-6 py-8 mx-auto">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div>
                <h2 class="text-5xl font-bold text-gray-800 dark:text-gray-100">
                    Nos prix
                </h2>

                <p class="mt-4 text-gray-500 dark:text-gray-400">
                    Meilleur service pour le meilleur prix.
                </p>
            </div>
        </div>

        <div class="grid gap-2 mt-16 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
            {% for i in front_pack['prices'].get_all_prices() %}
                {% if i.solo_price == false %}
                    <div class="px-6 py-4 transition-colors duration-200 transform rounded-lg hover:bg-gray-900
                    cursor-pointer hover:text-white border-2 border-gray-500 hover:border-none">
                        <p class="text-lg font-medium text-gray-200">
                            {{ i.title }}
                        </p>

                        <h4 class="mt-2 text-4xl font-semibold text-white">
                            {{ i.price }}
                            {% if i.subscribe %}
                                <span class="text-base font-normal text-gray-400"> / mois</span>
                            {% else %}
                                <span class="text-base font-normal text-gray-400"> / CAD</span>
                            {% endif %}
                        </h4>

                        <p class="mt-4 text-gray-500 dark:text-gray-300">
                            {{ i.description }}
                        </p>

                        <div class="mt-8 mb-20 space-y-4">
                        {% for j in front_pack['settings'].cut_string_on_delimiter(i.content, ', ') %}

                                <div class="flex items-center">
                                    <i class="fa-solid fa-circle-check text-green-700"></i>
                                    <span class="mx-4 text-gray-700 dark:text-gray-300">
                                        {{ j }}
                                    </span>
                                </div>

                        {% endfor %}
                        </div>
                        <div class="absolute bottom-5 w-full m-5">
                            {% if i.name == "subscribe" %}
                                <a class="w-full px-4 py-2 mt-10 font-medium tracking-wide text-white capitalize
                                transition-colors duration-200 transform bg-red-700 hover:bg-black rounded-md"
                                   href="{{ url_for('home.contacts') }}">
                                    Nous Contacter
                                </a>
                            {% else %}
                                <a class="w-full px-4 py-2 mt-10 font-medium tracking-wide text-white capitalize
                                transition-colors duration-200 transform bg-red-700 hover:bg-black rounded-md"
                                   href="https://appt.link/vip-hotbox-studio-booking/{{ i.name }}">
                                    Choisir ce plan
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="bg-transparent">
        <div class="container px-6 py-8 mx-auto">
            <h1 class="mt-4 text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white">
                Prix unique
            </h1>

            <div class="mt-6 space-y-8 xl:mt-12">
                {% for x in front_pack['prices'].get_all_prices() %}
                    {% if x.solo_price == true %}
                        <div class="flex items-center justify-between max-w-2xl px-8 py-4 mx-auto border cursor-pointer
                        rounded-xl dark:border-gray-700">
                            <div class="flex items-center">
                                <i class="fa-solid fa-circle-check"></i>

                                <div class="flex flex-col items-start mx-5 space-y-1">
                                    <h2 class="text-lg font-medium text-gray-700 sm:text-2xl dark:text-gray-200">
                                        {{ x.title }}
                                    </h2>

                                    <div class="px-2 text-sm text-white sm:px-4 sm:py-1">
                                        <p>
                                            {{ x.description }}
                                        </p>
                                        <p>
                                            {{ x.content }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <h2 class="text-2xl font-semibold text-gray-500 sm:text-4xl dark:text-gray-300">
                                {{ x.price }}$
                                {% if x.name == 'beatmaking' %}
                                    <span class="text-base font-medium">/heure</span>
                                {% endif %}
                            </h2>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>