<section class="py-20 bg-white">
    <div class="flex flex-col px-8 mx-auto space-y-12 max-w-7xl xl:px-12">
        <div class="relative">
            <h2 class="w-full text-3xl font-bold text-center sm:text-4xl md:text-5xl">
                Améliorez votre musique.
            </h2>

            <p class="w-full py-8 mx-auto -mt-2 text-lg text-center text-gray-700 intro sm:max-w-3xl">
                Que tu sois un artiste connu ou un débutant ou quelqu'un passioné de musique, mais déterminé à aller
                loin dans le monde musical. VIP HOTBOX Label peut vous offrir des réponses à toutes vos questions.
                On est là pour vous accompagner le long de votre parcours.
            </p>
        </div>

        <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
            <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
                <img class="rounded-lg shadow-xl" src="{{ url_for('static', filename='img/production/prod1.jpg') }}"
                     alt="">
            </div>

            <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-red-700 uppercase">
                    Une équipe qui suit sa passion
                </p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">
                    Tout commence par une passion
                </h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left">
                    On donne de l'amour à ton travail et on le fait grandir. On t'aide à améliorer ton travail grâce à
                    une équipe de production musicale professionnelle.
                </p>
            </div>
        </div>

        <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
            <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12">
                <img class="rounded-lg shadow-xl" src="{{ url_for('static', filename='img/production/prod2.jpg') }}"
                     alt="">
            </div>

            <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pl-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-red-700 uppercase">
                    Le confort vous aide à plus produire
                </p>

                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">
                    Un grand studio complet
                </h3>

                <p class="mt-5 text-lg text-gray-700 text md:text-left">
                    Notre studio d'enregistrement se compose généralement d'une chambre d'enregistrement, un bureau de
                    contrôle pour mixage et une place pour les beatmakers. Aussi un endroit pour faire vos shooting
                    photos et une place pour notre futur radio.
                </p>
            </div>
        </div>

        <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
            <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
                <img class="rounded-lg shadow-xl" src="{{ url_for('static', filename='img/production/prod3.jpg') }}"
                     alt="">
            </div>

            <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-indigo-600 uppercase">
                    Tu fais partie de la famille
                </p>

                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">
                    Fais parler tes idées
                </h3>

                <p class="mt-5 text-lg text-gray-700 text md:text-left">
                    Tes idées sont écoutées et tu auras à ta disposition tout ce qui est nécessaire pour le succès.
                </p>
            </div>
        </div>

    </div>
</section>