<div class="bg-white dark:bg-gray-800" id="booking_options">
    <div class="container px-6 py-8 mx-auto">
        <div class="flex flex-col items-center justify-center space-y-8 lg:-mx-4 lg:flex-row lg:items-stretch
            lg:space-y-0">
                {% for p in prix %}
                <div class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border-2 border-gray-200
                rounded-lg lg:mx-4 dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex-shrink-0">
                        <h2 class="inline-flex items-center justify-center px-2 font-semibold tracking-tight
                        text-red-700 uppercase rounded-lg bg-gray-50 dark:bg-gray-700">
                            {{ p.price_name }}
                        </h2>
                    </div>
                    <div class="flex-shrink-0">
                        <span class="pt-2 text-4xl font-bold text-gray-800 uppercase dark:text-gray-100">
                            ${{ p.price }} CAD
                        </span>
                    </div>
                    <ul class="flex-1 space-y-4">
                        {% for j in p.price_components.split(', ') %}
                        <li class="text-gray-700 dark:text-gray-400">
                            <strong style="color: green">&#10003;</strong> {{ j }}
                        </li>
                            {% endfor %}
                    </ul>
                {% if p.price_id == 'session2h20sub' %}
                    <a onclick="document.getElementById('myModal').showModal()" id="btn">
                {% else %}
                    <a href="https://appt.link/vip-hotbox-studio-booking/{{ p.price_id }}">
                {% endif %}
                <button class="inline-flex items-center justify-center px-4 py-2 font-semibold text-white uppercase
                transition-colors bg-red-700 rounded-lg hover:bg-red-600 focus:outline-none">
                    Réserver Une Session
                </button></a>
            </div>
                {% endfor %}</div>
            </div>
        </div>

        <dialog id="myModal" class="h-auto w-11/12 md:w-1/2 p-5  bg-white rounded-md ">
            <div class="flex flex-col w-full h-auto ">
                <div class="flex w-full h-auto justify-center items-center">
                    <div class="flex w-10/12 h-auto py-3 justify-center items-center text-2xl font-bold">
                        Contactez-nous pour s'abonner
                    </div>
                    <div onclick="document.getElementById('myModal').close();"
                         class="flex w-1/12 h-auto justify-center cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </div>
                </div>
                <div class="w-full h-auto py-10 px-2 justify-center items-center bg-gray-200 rounded text-center
                text-gray-500">
                    <div class="block text-xl pb-10 text-black">
                        Contactez-nous par appel: <br>
                        <a href="tel:{{ main_contacts['telephone1'] }}">
                            {{ main_contacts['telephone1'] }}</a> ou
                    <a href="tel:{{ main_contacts['telephone2'] }}">{{ main_contacts['telephone2'] }}</a>
                        <br> ou sur
                    <a href="{{ main_contacts['instagram'] }}" class="font-extrabold">Instagram</a> <br>
                    ou remplissez le formulaire ci-dessous et on vous rappellera dès que possible
                    </div>

                    <div class="min-h-screen bg-black flex flex-col justify-center sm:py-12">
        <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
            <h1 class="font-bold text-center text-3xl mb-5 text-white">Entrez En Contact</h1>
            <form action="" method="post" class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
                <div class="px-5 py-7">
                    {{ form.full_name.label(class="font-semibold text-sm text-gray-600 pb-1 block") }}
                    {{ form.full_name(class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full", placeholder="Nom Complet") }}
                    {{ form.email.label(class="font-semibold text-sm text-gray-600 pb-1 block") }}
                    {{ form.email(class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full", placeholder="Email") }}
                    {{ form.phone.label(class="font-semibold text-sm text-gray-600 pb-1 block") }}
                    {{ form.phone(class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full", placeholder="Phone") }}
                    {{ form.submit(class="transition duration-200 bg-black hover:bg-blue-700 focus:bg-blue-700
                    focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5
                    rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block cursor-pointer") }}
                </div>
            </form>
                <div class="py-5">
                    <div class="grid grid-cols-2 gap-1">
                        <div class="text-center sm:text-left whitespace-nowrap">
                            <a href="{{ url_for('booking.booking_index') }}" target="_blank">
                                <button class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm
                                rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200
                                focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke="currentColor" class="w-4 h-4 inline-block align-text-top">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2
                                              2 0 00-2 2v6a2 2 0 002 2z"></path>
                                    </svg>
                                    <span class="inline-block ml-1" onclick="document.getElementById('myModal').close();">Réserver Une autre Session?</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            <div class="py-5">
                <div class="grid grid-cols-2 gap-1">
                    <div class="text-center sm:text-left whitespace-nowrap">
                        <a href="{{ url_for('home.index') }}">
                        <button class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm
                        rounded-lg text-gray-500 hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2
                        focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" class="w-4 h-4 inline-block align-text-top">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                            </svg>
                            <span class="inline-block ml-1">Retourner à l'accueil</span>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
                </div>
            </div>
        </dialog>