{% extends 'base.html' %}

{% block content %}
    <div class="h-screen w-screen p-5">
        <div class="grid grid-cols-5">
            <div class="col-span-3">
                <img src="{{ url_for('static', filename='img/ltkrecords.jpg') }}" alt="ltkrecords" class="h-36 w-36">

                <div class="my-2">
                    <h1 class="font-bold text-xl">LTK Records</h1>
                    <p>(581) 978-4622</p>
                    <p>ltkrecords22@gmail.com</p>
                </div>
            </div>

            <div class="col-span-2 text-right">
                <h2 class="font-bold">SERVICE DE PRODUCTION MUSICALE</h2>
                <p class="text-gray-700">LTK000001</p>
                <h2 class="font-bold">DATE</h2>
                <p>Août 29, 2022</p>
                <h2 class="font-bold">Dû</h2>
                <p>___________________________</p>
                <h2 class="font-bold">Balance due</h2>
                <p class="text-xl">CAD${{ front_pack['invoice'] }}</p>
            </div>
        </div>

        <hr>

        <div class="my-5 mx-2">
            <p class="text-xs font-bold">Facturé à</p>
            <h1 class="text-2xl">Emmanuel (Planb)</h1>
        </div>

        <hr class="bg-black h-2">

        <div class="grid grid-cols-7 p-5">
            <div class="col-span-4">
                <h1 class="font-bold">DESCRIPTION</h1>
            </div>

            <div>
                <h1 class="font-bold">Prix unique</h1>
            </div>

            <div>
                <h1 class="font-bold">QTY</h1>
            </div>

            <div>
                <h1 class="font-bold">Montant</h1>
            </div>

            <div class="col-span-7">
                <hr class="bg-black h-2">
            </div>

            <div class="col-span-4 p-2">
                <h1>Abonnement VIP Hotbox</h1>
            <ul>
                <li>5 sessions de 2h20min par mois (max. 5 chansons)</li>
                <li>Enregistrement audio</li>
                <li>Mixage d'une chansons</li>
                <li>Photos artistiques</li>
            </ul>
        </div>
        <div class="">
            <p>${{ front_pack['liste'][0][0] }}</p>
        </div>
        <div class="">
            <p>{{ front_pack['liste'][0][1] }}</p>
        </div>
        <div class="">
            <p>${{ front_pack['liste'][0][0] * front_pack['liste'][0][1] }}</p>
        </div>
        <div class="col-span-7">
            <hr>
        </div>
    <div class="col-span-4">
        <h1>Beatmaking</h1>
        <p>Composition, Mixage</p>
    </div>
    <div class="">
        <p>${{ front_pack['liste'][1][0] }}</p>
    </div>
    <div class="">
        <p>{{ front_pack['liste'][1][1] }}</p>
    </div>
    <div class="">
        <p>${{ front_pack['liste'][1][0] * front_pack['liste'][1][1] }}</p>
    </div>
        <div class="col-span-7">
            <hr>
        </div>
        <div class="col-span-3">

    </div>
    <div class="">
        <h1>Sous-total</h1>
    </div>
        <div class=""></div>
        <div class=""></div>
    <div class="">
        {% set sub_total = front_pack['liste'][0][0] * front_pack['liste'][0][1] + front_pack['liste'][1][0] * front_pack['liste'][1][1] %}
        ${{ sub_total }}
    </div>
        <div class="col-span-3"></div>
        <div class="">Rabais ({{ front_pack['discount_amount'] }}%)</div>
        <div class=""></div>
        <div class=""></div>
        <div class="">-${{ sub_total * front_pack['discount_amount'] / 100 }}</div>
        <div class="col-span-3"></div>
        <div class="">Frais de Service ({{ front_pack['charge'] }}%)</div>
        <div class=""></div>
        <div class=""></div>
        <div class="">${{ (sub_total * front_pack['discount_amount'] / 100) * front_pack['charge'] / 100 }}</div>
        <div class="col-span-7"><hr></div>
        <div class="col-span-3">Veuillez noter que la moitié du montant total doit être payé au début du service
            et l'autre moitié à l'achèvement.</div>
        <div class="">Total</div>
        <div class=""></div>
        <div class=""></div>
        <div class="">${{ front_pack['invoice'] }}</div>
        <div class="col-span-3"></div>
        <div class="">Balance Due</div>
        <div class=""></div>
        <div class=""></div>
        <div class="">CAD${{ front_pack['invoice'] }}</div>
    </div>
    </div>
{% endblock %}